*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.app/google-services.json
/hs_err_pid11944.log
/hs_err_pid12184.log
/app/src/main/java/com/putradwicahyono/laundry/pelanggan.zip
local.properties
